services:
  mamiehenriette:                                    
    container_name: MamieHenriette                  # Nom du conteneur
    restart: unless-stopped                         # Redémarre automatiquement sauf si arrêté manuellement

#    build: .                                        # Build du conteneur à partir d'un Dockerfile local (décommentez si nécessaire)
#    image: mamiehenriette                           # Build du conteneur à partir d'un Dockerfile local (décommentez si nécessaire)
    image: ghcr.io/skylanix/mamiehenriette:latest    # Image hébergée sur GitHub Container Registry (commentez si nécessaire)

    environment:
        TZ: Europe/Zurich                            # Fuseau horaire
    volumes:
      - ./instance:/app/instance                    # Base de données et configuration persistante
      - ./logs:/app/logs                            # Logs de l'application

    ports:
      - 5000:5000                                   # Interface web sur http://localhost:5000

  sqlite-web:                                       # Interface web pour visualiser et éditer la base de données SQLite
    image: ghcr.io/coleifer/sqlite-web:latest       # Image officielle sqlite-web
    container_name: sqlite_web2                      # Nom du conteneur
    ports:
      - "5001:8080"                                 # Accès web via localhost:8080
    volumes:
      - ./instance/database.db:/data/database.db    # Monte la base de données locale dans le conteneur
    environment:
      - SQLITE_DATABASE=/data/database.db           # Chemin vers la base de données dans le conteneur
