{% extends "template.html" %}

{% block content %}
<h1>Configuration de Mamie</h1>
<p>Configurez les tokens Discord, les notifications Humble Bundle et l'API ProtonDB pour la commande !protondb.</p>

<h2>Api Discord</h2>
<form action="{{ url_for('updateConfiguration') }}" method="POST">
	<label for="discord_token">Api Discord (cachée)</label>
	<input name="discord_token" type="password" />
	<input type="Submit" value="Définir">
	<p>Nécessite un redémarrage</p>
</form>

<h2>Api Twitch</h2>
<form action="{{ url_for('updateConfiguration') }}" method="POST">
	<label for="twitch_client_id">Client id</label>
	<input name="twitch_client_id" type="text" value="{{ configuration.getValue('twitch_client_id') }}" />
	<label for="twitch_client_secret">Client Secret</label>
	<input name="twitch_client_secret" type="text" value="{{ configuration.getValue('twitch_client_secret') }}" />
	<label for="twitch_channel">Chaîne à rejoindre</label>
	<input name="twitch_channel" type="text" value="{{ configuration.getValue('twitch_channel') }}"
		placeholder="#machinTruc" />
	<input type="Submit" value="Définir">
	<p>
		<a href="{{ url_for('twitchConfigurationHelp') }}">Aide</a>
	</p>
	{% if configuration.getValue('twitch_client_secret') and configuration.getValue('twitch_client_id') %}
	<p>
		<a href="{{ url_for('twitchRequestToken') }}">Obtenir token et refresh token</a>
	</p>
	<label for="twitch_access_token">Access Token</label>
	<input name="twitch_access_token" type="text" value="{{ configuration.getValue('twitch_access_token') }}"
		readonly="readonly" />
	<label for="twitch_refresh_token">Refresh Token</label>
	<input name="twitch_refresh_token" type="text" value="{{ configuration.getValue('twitch_refresh_token') }}"
		readonly="readonly" />
	{% endif %}
	<p>Nécessite un redémarrage</p>
</form>

<h2>Humble Bundle</h2>
<form action="{{ url_for('updateConfiguration') }}" method="POST">
	<label for="humble_bundle_enable">Activer</label>
	<input type="checkbox" name="humble_bundle_enable" {% if configuration.getValue('humble_bundle_enable') %}
		checked="checked" {% endif %}>
	<label>Activer les notifications Humble bundle</label>
	<label for="humble_bundle_channel">Canal de notification des packs Humble Bundle</label>
	<select name="humble_bundle_channel">
		{% for channel in channels %}
		<option value="{{channel.id}}" {% if configuration.getIntValue('humble_bundle_channel')==channel.id %}
			selected="selected" {% endif %}>
			{{channel.name}}</option>
		{% endfor %}
	</select>
	<label for="humble_bundle_api_key">Client id</label>
	<input name="humble_bundle_api_key" type="text" value="{{ configuration.getValue('humble_bundle_api_key') }}" />
	<input type="Submit" value="Définir">
</form>
{% endblock %}