{% extends "template.html" %}

{% block content %}
<h1>Humeurs de Mamie</h1>
<p>Définissez les statuts Discord qui changeront automatiquement toutes les 10 minutes pour donner de la personnalité à votre bot.</p>
<table>
	<thead>
		<tr>
			<th>Texte</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for humeur in humeurs %}
		<tr>
			<td>{{humeur.text}}</td>
			<td><a href="{{ url_for('delHumeur', id = humeur.id) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette humeur ?')">Supprimer</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Ajouter une humeur</h2>
<form action="{{ url_for('addHumeur') }}" method="POST">
	<label for="text">Texte</label>
	<input name="text" type="text" />
	<input type="Submit" value="Ajouter">
</form>
{% endblock %}