<!DOCTYPE html>
<html color-mode="user">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="mobile-web-app-capable" content="yes" />
	<title>Mamie Henriette</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="icon" href="/static/ico/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon">
</head>

<body>
	<header>
		<nav>
			<a href="/" class="nav-logo">
				<img src="/static/ico/favicon.ico" alt="Mamie Henriette">
				<span>Mamie Henriette</span>
			</a>
			
			<input type="checkbox" id="nav-toggle" class="nav-toggle">
			<label for="nav-toggle" class="nav-toggle-label">
				<span></span>
				<span></span>
				<span></span>
			</label>
			
			<ul class="nav-menu">
				<li class="has-submenu">
					<a href="#">Discord</a>
					<ul class="submenu">
						<li><a href="/commandes">📝 Commandes</a></li>
						<li><a href="/humeurs">😊 Humeurs</a></li>
						<li><a href="/moderation">🛡️ Modération</a></li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#">Twitch</a>
					<ul class="submenu">
						<li><a href="/live-alert">📺 Alerte Live</a></li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#">Outils</a>
					<ul class="submenu">
						<li><a href="/freegames">🎮 Jeux Gratuits</a></li>
						<li><a href="/protondb">🐧 ProtonDB</a></li>
					</ul>
				</li>
				<li>
					<a href="/configurations">⚙️ Config</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<div class="flash-messages">
				{% for category, message in messages %}
				<div class="flash-message {{ category }}">{{ message }}</div>
				{% endfor %}
			</div>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</main>
	<footer>
		<hr>
		<p><a href="https://github.com/skylanix/MamieHenriette" target="_blank">MamieHenriette</a> créé par la communauté <a href="https://discord.com/invite/UwAPqMJnx3" target="_blank">Discord</a> de <a href="https://www.youtube.com/@513v3" target="_blank">573v3</a> - Projet open source sous licence <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">AGPLv3</a></p>
	</footer>
</body>

</html>