{% extends "template.html" %}

{% block content %}
<h1>Procédure de configuration de Twitch</h1>
<p>
	<strong>Avant toute chose, activez l'authentification à deux facteurs (2FA) :</strong>
	<a href="https://help.twitch.tv/s/article/two-factor-authentication?language=en_US" target="_blank">Guide officiel
		Twitch pour la 2FA</a>
</p>
<p>
	Rendez-vous sur <a href="https://dev.twitch.tv/console" target="_blank">la console d'applications Twitch</a> et
	ajoutez une application. Renseignez :
<ul>
	<li>URL de redirection : {{token_redirect_url}}</li>
	<li>Catégorie : Chat Bot</li>
</ul>
</p>

<img src="/static/img/twitch-api-01.jpg">

<p>
	Créez le bot. Puis, de retour à la liste, éditez-le en cliquant sur Gérer. Puis cliquez sur <strong>Nouveau
		Secret</strong>. Vous trouverez ici le <strong>Client ID</strong> et le <strong>Client Secret</strong>.
</p>

<img src="/static/img/twitch-api-02.jpg">

<p>
	Ensuite, retourner sur la page de <a href="{{url_for('openConfigurations')}}">Configuration</a>, apres avoir
	enregistret le <strong>Client ID</strong> et le <strong>Client Secret</strong>, cliquer sur le lien <strong>Obtenir
		token et refresh token</strong>. Si tout se passe bien les champs <strong>Access Token</strong> et
	<strong>Refresh Token</strong> sont rempli.
</p>

{% endblock %}