header nav img {
	border-radius: 50%;
}

table th,
table td {
	text-align: left;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	max-width: 250px;
}

a.icon {
	text-decoration: none;
}