header nav img {
	border-radius: 50%;
}

table th,
table td {
	text-align: left;
	vertical-align: top;
	overflow: hidden;
	white-space: normal;
}

table.live-alert tr td:last-child {
	white-space: nowrap;
}

a.icon {
	text-decoration: none;
}